.forgotPassForm{

    font-family: 'Montserrar 700', sans-serif;
    margin-top: 250px;
}

.forgotPassForm .container-fluid{

    width: 500px;

}

.forgot-pass-title{

    font-weight: 700;
    color: #ffffff;
    text-align: center;
}

.email-field{

    margin-top: 50px;
}

.forgot-pass-btn{

    width: 100%;
    font-weight: 700;
    color: rgb(45,45,45);
    margin-top: 10px;
}

.footerSpacing-forgotPass{

    width: 100%;
    height: 200px;
}