/*Leaderboard container*/

.leaderboard-container{

    margin-top: 100px;
}

.leaderboard-container .container-fluid{

    width: 75%;
}

/*Leaderboard header*/

.leaderboard-header{

    margin-top: 20px;
}

.leaderboard-header-title{

    color: #ffffff;
}

/*Leaderboard table*/

.leaderboard-table-container{

    margin-top: 50px;
}

.leaderboard-table{
    
    color: #ffffff !important;
    margin-bottom: 50px;
}

