/*PAGE CSS*/

.lessonContent{

    width: 100%;
    height: auto;
    overflow: hidden;
}

.lessonContent .container-fluid{

    width: 75%;
}


/*LESSON PAGE CSS*/

.lesson-page{

    margin-top: 120px;
}

.explanationText{
    
    color: #ffffff;
    font-size: 20px;
    margin-top: 30px;
}

.lesson-page-img{

    padding-top: 20px;
    padding-bottom: 20px;
}

.control-area{

    float: right;
    background-color: rgb(45,45,45) !important;
    border: none;
}

.control-area .card-title{

    color: #ffffff;
}

.lesson-pagination-container{
    
    display: table;
    margin: 0 auto;
    margin-top: 20%;
}

.lesson-pagination .page-link span, .lesson-pagination .page-link{
    
    color: #000 !important;
}

.lesson-pagination .selected-page{

    background-color: rgb(241, 180, 48);
}

/* Finish lesson button */

.finish-lesson-btn{

    margin-top: 10%;
    padding-left: 40px;
    padding-right: 40px;
    font-weight: 700;
    color: rgb(45,45,45);
}




  