/*NAVBAR CSS*/


.profile-dropdown{
    
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
    width: 30px !important;
    height: 3px !important;
    padding: 20px;
}

.profile-dropdown:hover{

    border-radius: 40%;
    background-color: grey !important;
}

.courses-navbar{

    font-family: 'Montserrar 700', sans-serif  !important;
    font-weight: 700;
}

.nav-link{

    color: 	#A9A9A9 !important;
    font-size: 18px;
    outline: 0;
} 

.nav-link:hover{

    color:#DCDCDC !important;
}

.dropdown-item{

    font-weight: 700;
}